@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "spartan",sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color:#222

}

h2 {
    font-size: 46px;
    line-height: 54px ;
    color: #222;
}

h4 {
    font: size 20px; 
    color: #222;
}

h6 {
font-weight: 700;
font-size: 12px;
}

p{ 
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}
body{
    width: 100%;
}
 
#header {
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 20px 80px;
    background:#c2c2c2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position : sticky;
    top: 0;
    left: 0;


}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
  #navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    transition: 0.3 case;
  }  
#navbar li a:hover,
#navbar li a.active{
    color: aqua;
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: 0;
    width: 30%;
    height: 2px;
    background: color #151818;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url(image/hero.jpg);
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#hero h4{
    padding-bottom: 16px;
}

#hero h1{
   color: #088178;
}

#hero button{
    background-image: url("image/button.jpg");
    background-color:rgb(110, 106, 106);
    color: rgb(126, 224, 224);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#product1{
    text-align:center;  
}

#product1.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap:wrap;
}

#product1.pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;  
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
  
}

#product1 .pro:hover { 
box-shadow:20px 20px 30px rgba(0, 0, 0, 0.06) ;
}

#product1.pro img{
    width: 100%;
    border-radius: 20px;

}

#product .pro.des{
    text-align: start;
    padding: 10px 0;
}

#product .pro.des span{
    color: #606063;
    font-size:12px;

}
#product .pro.des{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product .pro.des i{
    font-size: 12px;
    color:rgb(243, 181, 25)
}

#product .pro.des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;

}

#product .pro.shop{
    width:40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #47e268;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}